 <div class="modal fade" id=<%="deletebooking"+b.id%> tabindex="-1" role="dialog" >
              <div class="modal-dialog  modal-dialog-centered" >
                <div class="modal-content">

                  <div class="modal-body border-bottom">
                    <form class="needs-validation" novalidate method="POST" action=<%= "/booking/delete/"+userid+"/"+b.id %>>
                        <h5> Do you really want to cancel this appointment? </h5>

                  </div>
                  <div class="modal-footer">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col">
                          <button class="btn btn-danger btn-block" type="submit" id="add">cancel</button>
                        </div>
                      </div>
                    </div>                         
                  </div>
                  </form>
                  
                </div>
              </div>
            </div>