input[type='radio']:after {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    top: -2px;
    left: -4px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0px solid white;
    }

input[type='radio']:checked:after {
width: 25px;
height: 25px;
top: -2px;
left: -4px;
position: relative;
background-color: SeaGreen;
content: '';
display: inline-block;
visibility: visible;
border: 0px solid white;
}